##### 1. The population of a town is 198568. Out of them 45312 are men and 35678 are women. Find the number of children in the town.

In [3]:
population_town = 198568
man_population = 45312
woman_population = 35678

total_adult_population = man_population + woman_population
total_children_population = population_town - total_adult_population

print(f'{total_children_population} children')

117578 children

##### 2. A shopkeeper has 2425 boxes of 24 pencils each. How many pencils do all the boxes have in all?

In [6]:
boxes = 2425
pencils_each_boxes = 24

total_pencils = boxes * pencils_each_boxes

print(f'{total_pencils} pencils')

58200 pencils

##### 3. Linda bought a coat for 2265 and a saree for 2150. She gave 5000 to the shopkeeper. How much money did the shopkeeper return to her?

In [9]:
coat = 2265
saree = 2150
money = 5000

total_buy = coat + saree
rest_money = money - total_buy

print(f'Return ${rest_money}')

Return $585

##### 4. The cost of 21 TV sets is 95844. Find the cost of one TV set.

In [11]:
total_tv = 21
value_total_tv = 95844

one_tv = value_total_tv / total_tv

print(f'One TV = ${one_tv:.2f}')

One TV = $4564.00

##### 5. A factory produces 24532 bulbs in a month. What is its annual production?

In [13]:
bulbs_month = 24532

bulbs_year = bulbs_month * 12

print(f'Annual production = {bulbs_year:.0f} bulbs')

Annual production = 294384 bulbs

##### 6. There are 145968 bags of sugar, 236487 bags of wheat and some bags of rice in a godown. It the total number of bags in the godown is 450000, find the number of bags of rice.

In [15]:
bags_of_sugar = 145968
bags_of_weat = 236487
total_bags = 450000

bags_of_rice = total_bags - (bags_of_sugar + bags_of_weat)

print(f'{bags_of_rice:.0f} bags of rice')

67545 bags of rice

##### 7. A factory manufactured 483685 toys in three weeks. The production in first week was 146345 toys and in second week 138152 toys. Find the production in the third week.

In [16]:
toys_three_weeks = 483685
toys_first_week = 146345
toys_second_week = 138152

toys_third_week = toys_three_weeks - (toys_first_week + toys_second_week)

print(f'{toys_third_week} toys')

199188 toys

##### 8. The cost of a sofa set is 9372. How much will 124 such sofa sets cost?

In [17]:
value_sofa = 9372

total_sofas = value_sofa * 124

print(f'${total_sofas}')

$1162128

###### 9. There are 86 rooms in a school. 4386 students study there. Equal number of students sits in each room?

In [22]:
rooms = 86
students = 4386

distribuition_students = students / rooms

print(f'{distribuition_students:.0f} each room')

51 each room

##### 10. 1575 students of a school want to go Agra by bus. If one bus can carry 75 students, how many buses are required to carry all the students?

In [24]:
students = 1575
bus_carry = 75

bus_required = students / bus_carry

print(f'{bus_required:.0f} necessary buses')

21 necessary buses

##### 11. The cost of a radio set is 1475. What is the cost of 35 such radio sets?

In [25]:
cost_radio = 1475

total_radios = cost_radio * 35

print(f'${total_radios} 35 radios')

$51625 35 radios

##### 12. In an election, 52496 people voted for Ron, 44929 people for Jhon and 36824 people for Mike in a town. If everyone voted in the town, what is the total number of voters?

In [26]:
ron_votes = 52496
jhon_votes = 44929
mike_votes = 36824

total_votes = ron_votes + jhon_votes + mike_votes

print(f'{total_votes} total number of voters')

134249 total number of voters

##### 13. Maria bought 96 toys priced equally for 12960. The amount of 1015 is still left with her. Find the cost of each toy and the amount she had.

In [27]:
total_toys = 96
cost_total_toys = 12960
money_rest = 1015

cost_each_toy = cost_total_toys / total_toys
maria_money = cost_total_toys + money_rest

print(f'${cost_each_toy:.2f} cost each toy')
print(f'${maria_money:.2f} amount Maria')

$135.00 cost each toy
$13975.00 amount Maria